:root {
	height: auto;
	min-height: 100%;
}

body {
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: grey;
}

/* https://www.w3schools.com/css/css3_box-sizing.asp */
:where(*) {
	box-sizing: border-box;
}

:where(button, input, select, textarea) {
	background-color: white;
}
